<div class="row">

    <div class="col-md-4">
        <project-panel panelTitle="Converters"></project-panel>
    </div>

    <div class="col-md-4">
        <project-panel panelTitle="Coupons"></project-panel>
    </div>

    <div class="col-md-4">
        <project-panel panelTitle="Lotto Numbers"></project-panel>
    </div>

    <div class="col-md-4">
        <project-panel panelTitle="Personal Expenses Tracker"></project-panel>
    </div>

    <div class="col-md-4">
        <project-panel panelTitle="Quiz"></project-panel>
    </div>

    <div class="col-md-4">
        <project-panel panelTitle="Recommended Humus"></project-panel>
    </div>

    <div class="col-md-4">
        <project-panel panelTitle="Google Map"></project-panel>
    </div>

    <div class="col-md-4">
        <project-panel panelTitle="NodeJs Client"></project-panel>
    </div>

    <div class="col-md-4">
        <project-panel panelTitle="Web API Client"></project-panel>
    </div>

</div>